.page {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .page {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .page {
    display: flex;
    flex-direction: column;
  }
  .page .menuNav {
    order: -1;
  }
  .page .description {
    order: 3;
  }
  .page .group-card {
    order: 0;
  }
}

.poster {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}
.poster__picture {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: absolute;
  z-index: -10;
}

.headerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .headerPage {
    width: 100%;
    position: relative;
  }
}
.headerPage__div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.headerPage__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  font-size: 1em;
}
@media screen and (min-width: 1024px) {
  .headerPage__logo {
    position: absolute;
    top: -20px;
    width: 200px;
    left: -15px;
  }
}
@media screen and (min-width: 1024px) {
  .headerPage__logo {
    position: absolute;
    top: -20px;
    width: 200px;
    left: -15px;
  }
}
.headerPage__logo__1 {
  width: 70%;
}
.headerPage i.fas.fa-arrow-left {
  width: 5%;
  font-size: 2em;
}

.menuNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: white;
}
@media screen and (min-width: 1024px) {
  .menuNav {
    padding-top: 40px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
  }
  .menuNav__link__circle {
    display: none;
  }
  .menuNav i.fas.fa-bars,
.menuNav i.fas.fa-mobile-alt,
.menuNav i.fas.fa-store {
    display: none;
  }
}
.menuNav__name {
  background-color: white;
  width: 100%;
  height: 60px;
}
@media screen and (min-width: 1024px) {
  .menuNav__name {
    display: none;
  }
}
.menuNav__link {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  height: 75px;
  font-size: 1.4em;
  justify-content: space-evenly;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-bottom: 20px;
}
.menuNav__link :hover {
  align-items: center;
  background-color: #f5edff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.menuNav__link a {
  width: 100%;
  text-decoration: none;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .menuNav__link a {
    font-size: 0.9em;
  }
}
.menuNav__link a {
  color: black;
}
.menuNav__link__circle {
  position: relative;
  right: 13px;
  text-align: center;
  color: white;
  background-color: #9356dc;
  width: 30px;
  border: 1px solid black;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
@media screen and (min-width: 1024px) {
  .menuNav__link {
    width: 20%;
    border-left: 1px solid black;
    border-radius: 0;
    height: 30px;
    background-color: white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
.menuNav i {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.menuNav i :hover {
  color: #9356dc;
  font-size: 5em;
}

.descriptor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 15%;
}
@media screen and (min-width: 1024px) {
  .descriptor {
    flex-direction: row;
    padding: 0;
  }
}
.descriptor__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 1.5em;
  background-color: #eaeaea;
  text-align: center;
}
.descriptor__location i {
  margin-right: 40px;
  color: black;
}
.descriptor__reserve {
  display: flex;
  justify-content: center;
  width: 100%;
}
.descriptor__reserve__titre {
  font-size: 1.5em;
  font-weight: 900;
  width: 80%;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .descriptor__reserve {
    display: none;
  }
}
.descriptor__discovering {
  display: flex;
  flex-direction: column;
  width: 76%;
  font-size: 0.7em;
  overflow-wrap: break-word;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .descriptor__discovering {
    display: none;
  }
}
.descriptor__search {
  width: 56%;
  height: 41px;
  color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: #bb63db;
  box-shadow: 4px 8px 18px grey;
  text-align: center;
}
.descriptor__search:hover {
  background-color: #c478e0;
  box-shadow: 4px 8px 18px #4d4d4d;
}
@media screen and (min-width: 1024px) {
  .descriptor__search {
    position: absolute;
    left: 180px;
    top: 35px;
    width: 22%;
    font-size: 1.2em;
    border: none;
    background-color: white;
    color: black;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .descriptor__search:hover {
    background: none;
    box-shadow: none;
  }
}
@media screen and (min-width: 1044px) {
  .descriptor__search {
    left: 180px;
    height: 30px;
    top: 41px;
    border: 0;
    border-radius: transparent;
    -webkit-border-radius: transparent;
    -moz-border-radius: transparent;
    -ms-border-radius: transparent;
    -o-border-radius: transparent;
  }
}
.descriptor i {
  color: white;
}
@media screen and (min-width: 1024px) {
  .descriptor {
    background-color: white;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
  }
}

.group__picture {
  position: relative;
  height: 70%;
  width: 100%;
}

.group-card__1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1024px) {
  .group-card__1 {
    flex-direction: row;
    order: 1;
  }
}
.group-card__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 100px;
}
@media screen and (min-width: 1024px) {
  .group-card__2 {
    flex-direction: row;
  }
}
.group-card__name {
  font-size: 2em;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 251px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 4px 8px 18px grey;
  cursor: pointer;
}
.card:hover {
  box-shadow: 4px 8px 18px #676767;
}
.card__picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}
.card__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
  height: 30%;
  margin: 0;
  padding: 0;
  padding: 0px 20px;
  font-size: 1em;
}
.card__name i {
  font-size: 2em;
  color: #2e2e2e;
}
.card__name i:hover {
  color: #b060db;
  font-weight: 700;
}
.card__name__nouveau__h {
  position: absolute;
  background-color: #99e2d0;
  top: 10px;
  right: 44px;
}
.card__name__nouveau1__h {
  position: absolute;
  background-color: #99e2d0;
  top: -11px;
  left: 16%;
}
.card__name--description {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card__name--description__palette {
  width: 100%;
}
.card__name--description__francaise {
  width: 2000%;
}
.card__name__town {
  margin: 0px;
}
.card__name__savor {
  margin: 0px;
}
@media screen and (min-width: 1024px) {
  .card {
    height: 400px;
  }
}
@media screen and (min-width: 1044px) {
  .card {
    height: 500px;
  }
}

.card__name__heart {
  border: 1px solid red;
  position: relative;
  right: -23%;
}
.card__name__hearti {
  position: absolute;
}

.footerPage {
  background-color: #353535;
  display: flex;
  color: white;
  font-size: 1.5em;
  flex-direction: column;
  padding: 20px 0px 80px 50px;
}
.footerPage__link {
  color: white;
}
.footerPage a {
  text-decoration: none;
}
.footerPage__utensils {
  display: flex;
  align-items: center;
}
.footerPage__utensils__proposer {
  margin-left: 30px;
}
.footerPage__handshake {
  display: flex;
  align-items: center;
}
.footerPage__handshake__partenaire {
  margin-left: 20px;
}

.pageMenu {
  display: flex;
  flex-direction: column;
  border-radius: 60px 60px 0px 0px;
  -webkit-border-radius: 60px 60px 0px 0px;
  -moz-border-radius: 60px 60px 0px 0px;
  -ms-border-radius: 60px 60px 0px 0px;
  -o-border-radius: 60px 60px 0px 0px;
  background-color: #f2f2f2;
}
.pageMenu__name {
  display: flex;
  justify-content: space-between;
}
.pageMenu__name__description {
  width: 90%;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
}
.pageMenu__name i {
  display: flex;
  align-items: center;
  width: 20%;
  font-size: 2em;
}
.pageMenu__name i:hover {
  color: #9356dc;
  font-weight: 600;
}
.pageMenu__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.pageMenu__section__titre {
  width: 85%;
}
.pageMenu__section__section {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 140px;
  cursor: pointer;
  background-color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-bottom: 10px;
}
.pageMenu__section__section:hover + .pageMenu__section__section__container__validator > i {
  transform: translateX(200px) rotate(360deg);
  -webkit-transform: translateX(200px) rotate(360deg);
  -moz-transform: translateX(200px) rotate(360deg);
  -ms-transform: translateX(200px) rotate(360deg);
  -o-transform: translateX(200px) rotate(360deg);
}
.pageMenu__section__section:hover + .pageMenu__section__section__container {
  transform: scale(1);
}
.pageMenu__section__section__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: green;
  width: 20%;
  border-radius: 0px 30px 30px 0px;
  transform: scaleX(0);
  transition: transform 1000ms;
  transform-origin: right 0;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-transition: transform 1000ms;
  -moz-transition: transform 1000ms;
  -ms-transition: transform 1000ms;
  -o-transition: transform 1000ms;
  order: 3;
}
.pageMenu__section__section__container__validator {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: black;
  border-radius: 0px 30px 30px 0px;
  font-size: 5em;
  width: 100%;
  border-radius: 0px 30px 30px 0px;
  -moz-border-radius: 0px 30px 30px 0px;
  -ms-border-radius: 0px 30px 30px 0px;
  -o-border-radius: 0px 30px 30px 0px;
  -webkit-border-radius: 0px 30px 30px 0px;
}
.pageMenu__section__section__container__validator .fa,
.pageMenu__section__section__container__validator .far,
.pageMenu__section__section__container__validator .fas {
  display: block;
  transform: rotate(0deg);
  transition: transform 330ms ease-in-out;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.pageMenu__section__section__plate {
  font-size: 1em;
  margin: 0;
}
.pageMenu__section__section__accompaniment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 20px;
  font-size: 1.3em;
}
.pageMenu__section__section__div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.pageMenu__section__section__div__accompaniment {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0;
}
.pageMenu__section__section__div__price {
  height: 100%;
  text-decoration: none;
}
.pageMenu__section__section {
  text-decoration: none;
}
.pageMenu__section__buton {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  height: 60px;
  width: 100%;
  align-items: center;
}
.pageMenu__section__buton a {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: #ff79da;
  box-shadow: 4px 8px 18px #676767;
  margin-bottom: 20px;
}
.pageMenu__section__buton a:hover {
  box-shadow: 4px 8px 18px #4d4d4d;
  background-color: #ff93e1;
}

/*# sourceMappingURL=style.css.map */
