@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("font-face/Roboto/Roboto-Regular.ttf"), url(/font-face/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Shrikhand";
  src: url(/fonts/Shrikhand/Shrikhand-Regular.ttf);
}
p,
h2,
h3,
h4,
a,
.descriptor__search {
  font-family: "Roboto";
}
@media screen and (min-width: 200px) {
  p,
h2,
h3,
h4,
a,
.descriptor__search {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 625px) {
  p,
h2,
h3,
h4,
a,
.descriptor__search {
    font-size: 1em;
  }
}
@media screen and (min-width: 1440px) {
  p,
h2,
h3,
h4,
a,
.descriptor__search {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 2560px) {
  p,
h2,
h3,
h4,
a,
.descriptor__search {
    font-size: 1.6em;
  }
}

h1 {
  font-family: "Shrikhand";
}

.acceuil__progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  height: 5%;
  margin: 0;
}
.acceuil__progress__bar {
  height: 98%;
  width: 99%;
  background-color: #99e2d0;
  transform-origin: left;
  animation: progress-bar 3s 150ms both;
  -webkit-animation: progress-bar 2s 150ms both;
}
@keyframes progress-bar {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}

.page__acceuil {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  animation: cat 0ms 1800ms both;
}
@keyframes cat {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (min-width: 375px) {
  .page__acceuil {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .page__acceuil {
    display: flex;
    flex-direction: column;
  }
  .page__acceuil .menuNav {
    order: -1;
  }
  .page__acceuil .description {
    order: 3;
  }
  .page__acceuil .group-card {
    order: 0;
  }
}

.headerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .headerPage {
    width: 100%;
    position: relative;
  }
}
.headerPage__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  order: -1;
}
.headerPage__logo__1 {
  width: 70%;
}
.menuNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: white;
}
@media screen and (min-width: 1024px) {
  .menuNav {
    padding-top: 40px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
  }
  .menuNav__link__circle {
    display: none;
  }
  .menuNav i.fas.fa-bars,
.menuNav i.fas.fa-mobile-alt,
.menuNav i.fas.fa-store {
    display: none;
  }
}
.menuNav__name {
  background-color: white;
  width: 100%;
  height: 60px;
}
@media screen and (min-width: 1024px) {
  .menuNav__name {
    display: none;
  }
}
.menuNav__link {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  height: 75px;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 20px;
}
.menuNav__link :hover {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.menuNav__link a {
  width: 100%;
  text-decoration: none;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .menuNav__link a {
    border: none;
  }
  .menuNav__link a :hover {
    background-color: none;
  }
}
.menuNav__link a {
  color: black;
  position: relative;
  left: 4%;
  transform: translateX(-6%);
  -webkit-transform: translateX(-6%);
  -moz-transform: translateX(-6%);
  -ms-transform: translateX(-6%);
  -o-transform: translateX(-6%);
}
.menuNav__link__circle {
  position: relative;
  right: 13px;
  text-align: center;
  color: white;
  background-color: #9356dc;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
}
.menuNav__link__circle__p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .menuNav__link {
    width: 20%;
    border-left: 1px solid black;
    border-radius: 0;
    height: 30px;
    background-color: white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .menuNav__link :hover {
    background-color: white;
  }
}
.menuNav i {
  position: absolute;
  left: 14%;
  transform: translate(-50%);
  width: 5%;
}
.menuNav i:hover {
  color: #9356dc;
  font-size: 2em;
}

.descriptor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 15%;
}
@media screen and (min-width: 1024px) {
  .descriptor {
    flex-direction: row;
    padding: 0;
  }
}
.descriptor__location {
  position: relative;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #eaeaea;
  text-align: center;
  padding-bottom: 20px;
}
.descriptor__location__p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.descriptor__location i {
  position: absolute;
  left: 32%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.descriptor__reserve {
  display: flex;
  justify-content: center;
  width: 100%;
}
.descriptor__reserve__titre {
  font-weight: 900;
  width: 80%;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .descriptor__reserve {
    display: none;
  }
}
.descriptor__discovering {
  display: flex;
  flex-direction: column;
  width: 76%;
  overflow-wrap: break-word;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .descriptor__discovering {
    display: none;
  }
}
.descriptor__search {
  height: 41px;
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: linear-gradient(to bottom, #bb63db, #a51ad8);
  box-shadow: 4px 8px 18px grey;
  text-align: center;
}
.descriptor__search:hover {
  background-color: #c478e0;
  box-shadow: 4px 8px 18px #1a1a1a;
}
@media screen and (min-width: 1024px) {
  .descriptor__search {
    position: absolute;
    left: 17%;
    top: 46.5%;
    width: 23%;
    height: 30px;
    border-left: 1px solid black;
    border: none;
    background: none;
    color: black;
    box-shadow: none;
    border-radius: 0;
  }
  .descriptor__search:hover {
    background: none;
    box-shadow: none;
    border: none;
  }
}
@media screen and (min-width: 1440px) {
  .descriptor__search {
    border-left: 1px solid black;
    border-radius: transparent;
    -webkit-border-radius: transparent;
    -moz-border-radius: transparent;
    -ms-border-radius: transparent;
    -o-border-radius: transparent;
  }
}

.group__picture {
  position: relative;
  height: 70%;
  width: 100%;
}

.group-card__1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1024px) {
  .group-card__1 {
    flex-direction: row;
    order: 1;
  }
}
@media screen and (min-width: 780px) {
  .group-card__1 {
    flex-direction: row;
    order: 1;
  }
}
.group-card__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 100px;
}
@media screen and (min-width: 1024px) {
  .group-card__2 {
    flex-direction: row;
  }
}
@media screen and (min-width: 780px) {
  .group-card__2 {
    flex-direction: row;
  }
}
.group-card__name {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 251px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 4px 8px 18px grey;
  cursor: pointer;
}
.card:hover {
  box-shadow: 4px 8px 18px #676767;
}
.card__picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}
.card__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88%;
  height: 30%;
  margin: 0;
  padding: 0;
  padding: 0px 20px;
}
.card__name__group__i {
  position: relative;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 200px) {
  .card__name__group__i {
    font-size: 0.5em;
  }
}
@media screen and (min-width: 375px) {
  .card__name__group__i {
    font-size: 0.6em;
  }
}
@media screen and (min-width: 425px) {
  .card__name__group__i {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 625px) {
  .card__name__group__i {
    font-size: 1em;
  }
}
.card__name__group__i i {
  font-size: 2em;
  color: #2e2e2e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.card__name__group__i #i {
  position: absolute;
  font-size: 0em;
  color: #b060db;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: font-size 1s ease-in-out;
  -webkit-transition: font-size 1s ease-in-out;
  -moz-transition: font-size 1s ease-in-out;
  -ms-transition: font-size 1s ease-in-out;
  -o-transition: font-size 1s ease-in-out;
}
.card__name__group__i i:hover + #i {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8em;
}
.card__name__nouveau__h {
  position: absolute;
  background-color: #99e2d0;
  top: 10px;
  right: 44px;
}
.card__name__nouveau1__h {
  position: absolute;
  background-color: #99e2d0;
  top: -11px;
  left: 16%;
}
.card__name--description {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card__name__town {
  margin: 0px;
}
.card__name__savor {
  margin: 0px;
}
@media screen and (min-width: 1024px) {
  .card {
    height: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    height: 500px;
  }
}

footer {
  align-items: center;
  display: flex;
  background-color: #353535;
  padding-left: 20px;
}
@media screen and (min-width: 625px) {
  footer {
    justify-content: center;
  }
}

.footerPage {
  background-color: #353535;
  color: white;
  flex-direction: column;
}
.footerPage__link {
  color: white;
}
.footerPage a {
  text-decoration: none;
}
.footerPage__utensils {
  display: flex;
  align-items: center;
}
.footerPage__handshake {
  display: flex;
  align-items: center;
}
.footerPage__logo {
  font-family: "Shrikhand";
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .page {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .page {
    display: flex;
    flex-direction: column;
  }
  .page .menuNav {
    order: -1;
  }
  .page .description {
    order: 3;
  }
  .page .group-card {
    order: 0;
  }
}

.headerPage__menu {
  display: flex;
  justify-content: center;
  height: 50px;
}
@media screen and (min-width: 425px) {
  .headerPage__menu {
    height: 70px;
  }
}
@media screen and (min-width: 625px) {
  .headerPage__menu {
    height: 90px;
  }
}
@media screen and (min-width: 768px) {
  .headerPage__menu {
    height: 102px;
  }
}
@media screen and (min-width: 1440px) {
  .headerPage__menu {
    height: 170px;
  }
}
@media screen and (min-width: 1600px) {
  .headerPage__menu {
    height: 190px;
  }
}
@media screen and (min-width: 2000px) {
  .headerPage__menu {
    height: 225px;
  }
}
@media screen and (min-width: 2560px) {
  .headerPage__menu {
    height: 260px;
  }
}
.headerPage__menu__div {
  width: 80%;
  position: relative;
  height: 100%;
}
.headerPage__menu__div i {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 0.8em;
}
@media screen and (min-width: 375px) {
  .headerPage__menu__div i {
    font-size: 1em;
  }
}
@media screen and (min-width: 425px) {
  .headerPage__menu__div i {
    font-size: 1em;
  }
}
@media screen and (min-width: 625px) {
  .headerPage__menu__div i {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 768px) {
  .headerPage__menu__div i {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1440px) {
  .headerPage__menu__div i {
    font-size: 2em;
  }
}
@media screen and (min-width: 1600px) {
  .headerPage__menu__div i {
    font-size: 3em;
  }
}
@media screen and (min-width: 2000px) {
  .headerPage__menu__div i {
    font-size: 4em;
  }
}
@media screen and (min-width: 2560px) {
  .headerPage__menu__div i {
    font-size: 5em;
  }
}
.headerPage__menu__div__logo {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.poster {
  width: 100%;
  height: 247px;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}
.poster__picture {
  width: 100%;
  height: 309px;
  object-fit: cover;
  position: absolute;
  z-index: -10;
}

.group__pageMenu__section__entrées {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  animation: opacity 2s ease-in-out 1;
}
@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.group__pageMenu__section__plats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  animation: opacity 5s ease-in-out 1;
}
@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.group__pageMenu__section__desserts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  animation: opacity 7s ease-in-out 1;
}
@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.pageMenu {
  display: flex;
  flex-direction: column;
  border-radius: 60px 60px 0px 0px;
  -webkit-border-radius: 60px 60px 0px 0px;
  -moz-border-radius: 60px 60px 0px 0px;
  -ms-border-radius: 60px 60px 0px 0px;
  -o-border-radius: 60px 60px 0px 0px;
  background-color: #f2f2f2;
}
@media screen and (min-width: 1440px) {
  .pageMenu {
    margin: 0 auto;
    width: 70%;
    max-width: 1440px;
  }
}
@media screen and (min-width: 1024px) {
  .pageMenu {
    margin: 0 auto;
    width: 70%;
    max-width: 1440px;
  }
}
.pageMenu__name {
  position: relative;
  width: 100%;
  height: 99px;
}
.pageMenu__name__description {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: 900;
  bottom: -11px;
}
@media screen and (min-width: 375px) {
  .pageMenu__name__description {
    font-size: 1.3em;
    bottom: 0px;
  }
}
@media screen and (min-width: 425px) {
  .pageMenu__name__description {
    font-size: 1.5em;
    bottom: 0px;
  }
}
@media screen and (min-width: 625px) {
  .pageMenu__name__description {
    font-size: 1.8em;
    bottom: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .pageMenu__name__description {
    font-size: 2.3em;
    bottom: 8px;
  }
}
.pageMenu__name__group__i {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 86%;
  top: 30%;
}
@media screen and (min-width: 200px) {
  .pageMenu__name__group__i {
    font-size: 0.5em;
    top: 20%;
    left: 78%;
  }
}
@media screen and (min-width: 375px) {
  .pageMenu__name__group__i {
    font-size: 0.6em;
    top: 16%;
  }
}
@media screen and (min-width: 425px) {
  .pageMenu__name__group__i {
    font-size: 0.8em;
    top: 20%;
  }
}
@media screen and (min-width: 625px) {
  .pageMenu__name__group__i {
    left: 80%;
    top: 30%;
    font-size: 1em;
  }
}
.pageMenu__name__group__i i {
  font-size: 2em;
  color: #2e2e2e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.pageMenu__name__group__i #i {
  position: absolute;
  font-size: 0em;
  color: #b060db;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: font-size 1s ease-in-out;
  -webkit-transition: font-size 1s ease-in-out;
  -moz-transition: font-size 1s ease-in-out;
  -ms-transition: font-size 1s ease-in-out;
  -o-transition: font-size 1s ease-in-out;
}
.pageMenu__name__group__i i:hover + #i {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8em;
}
.pageMenu__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.pageMenu__section__titre {
  position: relative;
  width: 85%;
}
.pageMenu__section__titre::before {
  position: absolute;
  content: "";
  bottom: -27%;
  width: 30px;
  border-bottom: 3px solid #99e2d0;
}
@media screen and (min-width: 1440px) {
  .pageMenu__section__titre::before {
    bottom: -27%;
    width: 45px;
  }
}
@media screen and (min-width: 2560px) {
  .pageMenu__section__titre::before {
    height: -27%;
    width: 58px;
  }
}
.pageMenu__section__section1, .pageMenu__section__section2, .pageMenu__section__section3, .pageMenu__section__section4 {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 90px;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.pageMenu__section__section1:hover .pageMenu__section__section1__validator, .pageMenu__section__section1:hover .pageMenu__section__section2__validator, .pageMenu__section__section1:hover .pageMenu__section__section3__validator, .pageMenu__section__section1:hover .pageMenu__section__section4__validator, .pageMenu__section__section2:hover .pageMenu__section__section1__validator, .pageMenu__section__section2:hover .pageMenu__section__section2__validator, .pageMenu__section__section2:hover .pageMenu__section__section3__validator, .pageMenu__section__section2:hover .pageMenu__section__section4__validator, .pageMenu__section__section3:hover .pageMenu__section__section1__validator, .pageMenu__section__section3:hover .pageMenu__section__section2__validator, .pageMenu__section__section3:hover .pageMenu__section__section3__validator, .pageMenu__section__section3:hover .pageMenu__section__section4__validator, .pageMenu__section__section4:hover .pageMenu__section__section1__validator, .pageMenu__section__section4:hover .pageMenu__section__section2__validator, .pageMenu__section__section4:hover .pageMenu__section__section3__validator, .pageMenu__section__section4:hover .pageMenu__section__section4__validator {
  width: 100px;
}
.pageMenu__section__section1:hover .pageMenu__section__section1__validator i, .pageMenu__section__section1:hover .pageMenu__section__section2__validator i, .pageMenu__section__section1:hover .pageMenu__section__section3__validator i, .pageMenu__section__section1:hover .pageMenu__section__section4__validator i, .pageMenu__section__section2:hover .pageMenu__section__section1__validator i, .pageMenu__section__section2:hover .pageMenu__section__section2__validator i, .pageMenu__section__section2:hover .pageMenu__section__section3__validator i, .pageMenu__section__section2:hover .pageMenu__section__section4__validator i, .pageMenu__section__section3:hover .pageMenu__section__section1__validator i, .pageMenu__section__section3:hover .pageMenu__section__section2__validator i, .pageMenu__section__section3:hover .pageMenu__section__section3__validator i, .pageMenu__section__section3:hover .pageMenu__section__section4__validator i, .pageMenu__section__section4:hover .pageMenu__section__section1__validator i, .pageMenu__section__section4:hover .pageMenu__section__section2__validator i, .pageMenu__section__section4:hover .pageMenu__section__section3__validator i, .pageMenu__section__section4:hover .pageMenu__section__section4__validator i {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.pageMenu__section__section1__validator, .pageMenu__section__section2__validator, .pageMenu__section__section3__validator, .pageMenu__section__section4__validator {
  display: flex;
  align-items: center;
  height: 100%;
  justify-self: flex-start;
  width: 0;
  overflow: hidden;
  background: #99e2d0;
  border-radius: 0 20px 20px 0;
  transition: width 2s;
}
.pageMenu__section__section1__validator i, .pageMenu__section__section2__validator i, .pageMenu__section__section3__validator i, .pageMenu__section__section4__validator i {
  font-size: 2em;
  color: #99e2d0;
  background: white;
  margin: 50% auto;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: transform 3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.pageMenu__section__section1__accompaniment, .pageMenu__section__section2__accompaniment, .pageMenu__section__section3__accompaniment, .pageMenu__section__section4__accompaniment {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
  width: 70%;
}
.pageMenu__section__section1__accompaniment__plate, .pageMenu__section__section2__accompaniment__plate, .pageMenu__section__section3__accompaniment__plate, .pageMenu__section__section4__accompaniment__plate {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.pageMenu__section__section1__accompaniment__p, .pageMenu__section__section2__accompaniment__p, .pageMenu__section__section3__accompaniment__p, .pageMenu__section__section4__accompaniment__p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.pageMenu__section__section1__price, .pageMenu__section__section2__price, .pageMenu__section__section3__price, .pageMenu__section__section4__price {
  width: 28%;
  text-align: center;
  align-self: center;
  text-decoration: none;
}
.pageMenu__section__section1, .pageMenu__section__section2, .pageMenu__section__section3, .pageMenu__section__section4 {
  text-decoration: none;
}
.pageMenu__button {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  height: 60px;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}
.pageMenu__button p {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #ff79da;
  box-shadow: 4px 8px 18px #676767;
}
.pageMenu__button p:hover {
  box-shadow: 4px 8px 18px #4d4d4d;
  background-color: #ff93e1;
}
@media screen and (min-width: 768px) {
  .pageMenu__button p {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .pageMenu__button p {
    width: 30%;
  }
}
@media screen and (min-width: 1440px) {
  .pageMenu__button p {
    width: 30%;
  }
}
@media screen and (min-width: 2560px) {
  .pageMenu__button p {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
