@import "../Utils/Variables/variables.scss";
@import "../Utils/Mixins/mixins.scss";
@import "../Utils/colors/colors.scss";

@each $nom, $breakpoint in $point {
  @media screen and (min-width: $breakpoint) {
    .page {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      width: $breakpoint * 0.8;

      // border: 1px solid black;
    }
    .page__logo {
      width: 50%;
      font-size: 2em;
      background-color: white;
      border: 1px solid black;
    }
    .poster {
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: column;
      margin: 0;
      // border: 1px solid black;
      position: relative;
      &__picture {
        width: 100%;
        height: 500px;
        object-fit: cover;
        position: absolute;
        z-index: -10;
      }
    }

    // =====PageMenu/La palette /La note enchanté / ect....====
    .pageMenu {
      display: flex;
      flex-direction: column;

      @include rad40;
      width: $breakpoint * 0.8;
      background-color: #f2f2f2;

      &__name {
        display: flex;
        justify-content: space-between;
        &__description {
          width: 90%;
          text-align: center;
          font-size: 3em;
        }
        & i {
          display: flex;
          // justify-content: center;
          align-items: center;
          // border: 1px solid black;
          width: 20%;
          // font-size: 3em;
        }
      }
      &__section {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;

        &__section {
          display: flex;
          flex-direction: row;
          width: 90%;
          height: 100%;

          background-color: white;
          @include radius;
          margin-bottom: 10px;
        }
        &__plate {
          margin-left: 20px;
        }
        &__accompaniment {
          margin-left: 20px;
        }
        &__group__accompaniment {
          display: flex;
          flex-direction: column;
          width: 90%;
          align-items: start;
          // justify-content: space-between;
          // border: 1px solid black;
        }
        &__div {
          display: flex;
          width: 100%;
          justify-content: space-between;
          // justify-content: center;
          align-items: center;
        }
        &__price {
          // border: 1px solid black;
          // height: 100%;

          &__validator i:hover {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 1;
            background-color: green;
            border-radius: 0px 30px 30px 0px;
            // font-size: 1em;
            width: 100%;
            height: 100%;
            align-content: space-between;
          }
          &__validator i {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            color: black;
            background-color: green;
            border-radius: 0px 30px 30px 0px;
            font-size: 5em;
            width: 20%;

            -webkit-border-radius: 0px 30px 30px 0px;
            -moz-border-radius: 0px 30px 30px 0px;
            -ms-border-radius: 0px 30px 30px 0px;
            -o-border-radius: 0px 30px 30px 0px;
          }
        }
      }

      &__buton {
        display: flex;
        flex-direction: column;
        text-align: center;
        // justify-content: center;
        text-decoration: none;
        height: 60px;
        width: 100%;
        align-items: center;
        & a {
          display: flex;
          flex-direction: column;
          width: 50%;
          height: 100%;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          @include radius;
          background-color: $color-secondary;
          box-shadow: 4px 8px 18px darken(grey, 10);
          margin-bottom: 20px;
          &:hover {
            box-shadow: 4px 8px 18px darken(grey, 20);
            background-color: lighten($color-secondary, 5);
          }
        }
      }
    }

    .headerPage {
      display: flex;
      flex-direction: column;
      align-items: center;
      // background-color: #f6f6f6;
      &__div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        // border: 1px solid red;
        // justify-content: space-between;
      }

      i.fas.fa-arrow-left {
        width: 5%;
        font-size: 2em;
        // border: 1px solid black;
      }
    }

    .menuNav {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      background-color: white;

      &__name {
        background-color: white;
        width: 100%;
        height: 60px;
      }
      &__link {
        display: flex;
        align-items: center;
        border: 1px solid black;
        background-color: #f6f6f6;
        width: 100%;
        height: 100px;
        font-size: 2em;
        justify-content: space-evenly;
        @include radius;
        margin-bottom: 20px;
        & :hover {
          // width: 100%;
          height: 100px;
          align-items: center;
          background-color: #f5edff;
          @include radius;
        }

        & a {
          width: 100%;
          text-decoration: none;
          align-items: center;
          text-align: center;
        }
      }
      &__choose {
      }
      & i {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // text-align: center;
        // border: 1px solid yellow;
        width: 10%;
        & :hover {
          color: #9356dc;
          font-size: 5em;
        }
      }
    }

    .descriptor {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      &__location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        font-size: 1.5em;
        background-color: #eaeaea;
        @include center;
        border: 1px solid black;
        // padding-bottom: 20px;
        & i {
          margin-right: 40px;
          color: black;
        }
      }
      &__reserve {
        @include center;
        width: 50%;
        font-weight: 900;
        font-size: 2em;
      }
      &__discovering {
        display: flex;
        flex-direction: column;
        // border: 1px solid red;
        width: 90%;
        font-size: 1.6em;
        // text-align: justify;
        // word-break: break-word;
        overflow-wrap: break-word;

        @include center;
      }

      &__search {
        width: 50%;
        height: 100px;
        color: white;
        @include radius;
        background-color: $color-secondary;
        box-shadow: 4px 8px 18px grey;
        @include center;
        &:hover {
          background-color: lighten($color-secondary, 5);
          box-shadow: 4px 8px 18px darken(grey, 20);
        }
      }
      & i {
        color: white;
      }
    }

    .group-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f6f6f6;
      padding-bottom: 100px;
      &__name {
        font-size: 2em;
      }
    }
    .card {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 400px;
      border-radius: 20px;
      background-color: white;
      border: 1px solid lightgrey;
      box-shadow: 4px 8px 18px grey;
      cursor: pointer;
      &:hover {
        box-shadow: 4px 8px 18px darken(grey, 10);
      }

      &__picture {
        object-fit: cover;
        width: 100%;
        height: 280px;
        border-radius: 20px 20px 0px 0px;
      }

      &__name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        font-size: 1.7em;
        // border: 1px solid black;
        & i:hover {
          color: #b060db;
        }
        &__nouveau {
          margin: 0;
          float: right;
          top: 60%;
          // position: absolute;
          // top: 100%;
          // left: 64%;
          // background-color: green;
          // width: 9%;
          // height: 4%;

          // text-align: center;
          &__h {
            position: relative;
            top: -31px;
            // left: 50%;
          }
        }
      }
      &__name--description {
        display: flex;
        flex-direction: column;
      }
      &__name__town {
        @include margin0;
      }
      &__name__savor {
        @include margin0;
      }
    }

    .footerPage {
      background-color: black;
      display: flex;
      color: white;
      flex-direction: column;
      padding-left: 40px;
      &__link {
        color: white;
      }
      & a {
        text-decoration: none;
      }
      &__utensils {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
      }
      &__handshake {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 26%;
      }
    }
  }
}

// .headerPage {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   &__logo {
//     width: 80%;
//   }
// }

// .menuNav {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;

//   &__name {
//   }
//   &__link {
//     border: 1px solid black;
//     width: 50%;
//     @include radius;

//     & a {
//       text-decoration: none;
//     }
//   }
//   &__choose {
//   }
// }

// .descriptor {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   &__location {
//     background-color: grey;
//     @include center;
//   }
//   &__reserve {
//     @include center;
//   }
//   &__discovering {
//     @include center;
//   }

//   &__search {
//     width: 30%;
//     @include radius;
//     background-color: $color-secondary;
//     @include center;
//   }
// }

// .group-card {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   &__name {
//     color: red;
//   }
// }
// .card {
//   display: flex;
//   flex-direction: column;
//   width: 335px;
//   height: 251px;
//   border-radius: 20px;
//   background-color: white;
//   border: 1px solid lightgrey;
//   box-shadow: 4px 8px 18px grey;
//   cursor: pointer;

//   &__picture {
//     object-fit: cover;
//     width: 335px;
//     height: 174px;
//     border-radius: 20px 20px 0px 0px;
//   }

//   &__name {
//     display: flex;
//     justify-content: space-between;
//     margin: 0;
//     padding: 0;
//   }
//   &__name--description {
//     display: flex;
//     flex-direction: column;
//   }
//   &__name__town {
//     @include margin0;
//   }
//   &__name__savor {
//     @include margin0;
//   }
// }

// .footerPage {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
