@mixin center {
  text-align: center;
}
@mixin radius {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
@mixin radius2 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@mixin shadow {
  box-shadow: 4px 4px 8px grey;
}
@mixin shadowDark {
  box-shadow: 4px 8px 18px darken(grey, 40);
}
@mixin rad40 {
  border-radius: 30px 30px 0px 0px;
  -webkit-border-radius: 30px 30px 0px 0px;
  -moz-border-radius: 30px 30px 0px 0px;
  -ms-border-radius: 30px 30px 0px 0px;
  -o-border-radius: 30px 30px 0px 0px;
}
@mixin rad60 {
  border-radius: 60px 60px 0px 0px;
  -webkit-border-radius: 60px 60px 0px 0px;
  -moz-border-radius: 60px 60px 0px 0px;
  -ms-border-radius: 60px 60px 0px 0px;
  -o-border-radius: 60px 60px 0px 0px;
}
@mixin margin0 {
  margin: 0px;
}
@mixin groupSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
@mixin mobile {
  @media screen and(min-width:map-get($breakpoints,mobile)) {
    @content;
  }
}
@mixin mobile-S {
  @media screen and (min-width: map-get($breakpoints,mobile-S)) {
    @content;
  }
}
@mixin mobile-M {
  @media screen and (min-width: map-get($breakpoints,mobile-M)) {
    @content;
  }
}
@mixin mobile-L {
  @media screen and (min-width: map-get($breakpoints,mobile-L)) {
    @content;
  }
}
@mixin mobile-XL {
  @media screen and(min-width:map-get($breakpoints,mobile-XL)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: map-get($breakpoints,tablet)) {
    @content;
  }
}
@mixin tablet-L {
  @media screen and (min-width: map-get($breakpoints,tablet-L)) {
    @content;
  }
}
@mixin labtop {
  @media screen and (min-width: map-get($breakpoints,labtop)) {
    @content;
  }
}
@mixin labtop-L {
  @media screen and (min-width: map-get($breakpoints,labtop-L)) {
    @content;
  }
}
@mixin labtop-XL {
  @media screen and (min-width: map-get($breakpoints,labtop-XL)) {
    @content;
  }
}
@mixin labtop-2K {
  @media screen and (min-width: map-get($breakpoints,labtop-2K)) {
    @content;
  }
}

@mixin labtop-4K {
  @media screen and (min-width: map-get($breakpoints,labtop-4K)) {
    @content;
  }
}

@mixin position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@mixin gradient {
  background: linear-gradient(to bottom, #ffa0f2, #a51ad8);
}
